@import '../_common/_base.scss';

$clock-color: #28d1fa;

canvas,
#save-canv {
    display: block;
    width: 500px;
    border: $basic-border;
}

canvas {
    margin: 2rem auto;
}

#save-canv {
    margin: 0 auto 2rem;
    padding: 0.5rem 0;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: $primary-color;
    color: $secondary-color;
    user-select: none;
}

#save-canv:hover {
    border-color: $clock-color;
    color: $clock-color;
}
