$base-color: black;
$accent-color: darkgray;
$basic-border: 3px solid $accent-color;

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    border: none;
    outline: none;
    text-decoration: none;
}

body {
    background-color: $base-color;
    color: $accent-color;
}
