@import '../_common/base';

body {
    display: grid;
    grid-template: auto / 650px;
    grid-gap: 1.2em 0;
    place-items: stretch;
    justify-content: center;
}

canvas,
#save-canv {
    display: block;
    border: $basic-border;
}

canvas {
    margin: 2rem auto;
}

#save-canv {
    padding: 0.5rem 0;
    margin-bottom: 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: $primary-color;
    color: $secondary-color;
    user-select: none;
    cursor: pointer;

    &:hover {
        border-color: #1e90ff;
        color: #1e90ff;
    }
}
